.App {
  background: #f9f7fe;
  font-family: "Roboto", monospace;
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.Form .SearchInput {
  background-color: #f9f7fe;
  border: none;
  color: #27214266;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.Form .SearchButton {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
