.CurrentTemperature .CurrentTemperature {
  font-size: 48px;
}
.CurrentTemperature .CurrentTemperatureIcon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.CurrentTemperature .CurrentTemperatureValue {
  font-size: 80px;
  font-weight: bold;
}

.CurrentTemperature .CurrentTemperatureUnit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
